/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/12/2016, 11:09:45 AM
    Author     : Usuario
*/

body{
     background-color: #35348A;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
    font-weight: bold;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

h4{
    font-size: 14px;
   
}
.header{
    background-color: white;
    font-weight: bold;
}

.title{
    text-align: center;
}

.logo-image{
    text-align: center;
}

.content{
   height: max-content;
}

.content-public{
    color:white;
}
.content-login{
  
}
.loggin {
	width:310px;
	margin:5% auto;
	padding:20px;
    background-color: #EBEBEB;
}

.content-title{
    text-align: center;
}

.button-list-desc{
   margin: 15px; 
}

.portal-button{
    width: 200px;
}