/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/12/2016, 03:46:38 PM
    Author     : Usuario
*/

.load-file{
    height: 50px;
    padding: 10px;
}

.hide{
    border:1px solid red;
    display: none;
}
