 .buttons-csv{
                            display: inline-block;
                            background-image:url(resources/images/csv.png);
                            cursor:pointer !important;
                            width: 32px !important;
                            height: 32px !important;
                            border: none !important;
                        }
                        .buttons-csv span{
                            opacity: 0;
                        }
                        .buttons-excel{
                            display: inline-block;
                            background-image:url(resources/images/excel.png);
                            cursor:pointer !important;
                            width: 32px !important;
                            height: 32px !important;
                            border: none !important;
                        }
                        .buttons-excel span{
                            opacity: 0;
                        }
                        .buttons-pdf{
                            display: inline-block;
                            background-image:url(resources/images/pdf.png);
                            cursor:pointer !important;
                            width: 32px !important;
                            height: 32px !important;
                            border: none !important;
                        }
                        .buttons-pdf span{
                            opacity: 0;
                        }
                        buttons-print{
                            display: inline-block;
                            background-image:url(resources/images/print.png);
                            cursor:pointer !important;
                            width: 32px !important;
                            height: 32px !important;
                            border: none !important;
                        }
                        .buttons-print span{
                            opacity: 0;
                        }